<p id="welcome" class="lead">Take a look at our in stock beers. Read reviews to find your next favorite beer or leave one to help someone else find theirs. Cheers!</p> 

<p><%= link_to "Add a New Beer", new_product_path %></p>


<div id="search-forms">
  <div class="beer-search">
    <%= form_tag products_path, method: :get do %>
      <%= label_tag "Find Beer by Name" %>
      <%= text_field_tag :beer_search, params[:beer_search], class: "form-control", required: true %>
      <%= submit_tag 'Search by Beer', name: nil, class: "btn search-button" %>
    <% end %>
  </div>

  <div class="brand-search">
    <%= form_tag products_path, method: :get do %>
      <%= label_tag "Find Beer by Brand" %>
      <%= text_field_tag :brand_search, params[:brand_search], class: "form-control", required: true %>
      <%= submit_tag 'Search by Brand', brand: nil, class: "btn search-button" %>
    <% end %>
  </div>
</div>

<% if @searched_product != nil %>
  <%= form_tag products_path, method: :get do %>
    <%= submit_tag "See Full Beer List", name: :full_list, class: "btn" %>
  <% end %>
  <h3>Search Results</h3>
  <% if @searched_product.any? %>  
    <% @searched_product.each do |product| %>
      <div class="beer">
        <p class="brand"><%= "#{product.brand}" %></p><p><%= link_to "#{product.name}", product_path(product) %></p>
      </div>
    <% end %>
  <% else %>
    <p>There are currently no matches to your search.</p>
  <% end %>    
<% end %>


<div id="beer-display">
  <% if @products != nil %>
    <% if @products.any? %>
      <% @products.each do |product| %>
        <div class="beer">
          <p class="brand"><%= "#{product.brand}" %></p><p><%= link_to "#{product.name}", product_path(product) %></p>
        </div>
      <% end %>
    <% else %>
      <p>There are currently no beers on the list! Feel free to add one with the link above.</p>
    <% end %>
  <% end %>
</div>


<p><%= link_to "Back to Home Page", root_path %></p>
<p><%= link_to "Sign Out", destroy_user_session_path, method: "delete" %></p>