<% if current_user && current_user.admin %>
  <p><%= link_to "Edit Beer", edit_product_path(@product) %></p>
<% end %>

<%= link_to "Leave a Review", new_product_review_path(@product) %>

<div id="beer-details">
  <h1><%= @product.name %></h1>
  <h2>Made by: <%= @product.brand %></h2>
  <h3>Price: <%= number_to_currency(@product.cost) %> </h3>
  <h4>Made In: <%= @product.country_of_origin %></h4>
</div>

<h3>Reviews for <%= @product.name %></h3>

<div class="sort-buttons">
  <%= form_tag product_path, method: :get do %>
    <%= submit_tag "Sort by Highest Rating", name: :high_rating, class: "btn" %>
  <% end %>

  <%= form_tag product_path, method: :get do %>
    <%= submit_tag "Sort by Lowest Rating", name: :low_rating, class: "btn" %>
  <% end %>
</div>

<% if @reviews.any? %>
  <% @reviews.each do |review| %>
    <p>
      <li><span class="review-header">Written by: <b><%= review.author %></b> - Rating <span id="stars"><%= '*'*review.rating %></span></span>
      <% if current_user && current_user.admin %>
        <%= link_to " Edit Review", edit_review_path(review) %>
      <% end %>
      <br><%= review.content_body %></li>
    </p>
  <% end %>
<% else %>
  <p>No reviews have been written for this product yet. Click link below to add one!</p>
<% end %>

<p><%= link_to "Back to Full Beer List", products_path %></p>

<p><%= link_to "Back to Home Page", root_path %></p>

<p><%= link_to "Sign Out", destroy_user_session_path, method: "delete" %></p>

