<%= render "layouts/errors", :object => @review %>

<h1>Edit Review</h1>

<%= form_for @review do |f| %>
  <%= f.label "Name" %>
  <%= f.text_field :author, class: "form-control" %>
  <%= f.label "Review" %>
  <%= f.text_area :content_body, class: "form-control", :rows=>10, :cols=>60 %>
  <%= f.label :rating %>
  <%= f.number_field :rating, min: 0, max: 5, class: "form-control" %>
  <%= f.submit class: "btn"  %>
<% end %>

<p><%= link_to "Delete Review", review_path(@review), 
                              :data => { :confirm => "Are you sure?", 
                              :method => "delete" } %></p>

<p><%= link_to "Back to Review List", reviews_path %></p>

<p><%= link_to "Back to Home Page", root_path %></p>